<app-header></app-header>
<app-slider></app-slider>
<div class="row">
  <app-item class="col-4"></app-item>
  <app-item class="col-4"></app-item>
  <app-item class="col-4"></app-item>
</div>

<app-footer></app-footer>
