<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://picsum.photos/200/300"
        class="d-block w-100"
        alt="https://picsum.photos/200/300"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/200/300"
        class="d-block w-100"
        alt="https://picsum.photos/200/300"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/200/300"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
